*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* h1 {
    color: blue;
}
img{
    width: 60%;
    height: 50%;
    border-radius: 20px;
} */

.same-box{
    width: 200px;
    height: 200px;
    border: 2px solid #226aa5;
}
.first-box img{
    width: 100px;
    height: auto;
    margin: 110px 0 0;

}

.first-box:hover{
    color: #226aa5;
    width: 500px;
    background-image: url(/day7/class_work/images/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -10px -10px 25px green,
    0 10px 25px blue;
}


/* 
!background-size: cover; contain; fix-size;
!background-repeat: no-repeat; repeat-x; repeat-y;
!background-position: bottom , center ,left ,right ,top ,bottom center ,right center; 
 */

.seccond-box{
     background-image: radial-gradient(white 5%, blue,blue,white);
     height: 300px;
     margin: 100px auto 100px;
     /* box-shadow: 5px 0 red,
     -5px 0 blue; */

}
.third-box{
    background-image: conic-gradient(blue,red 5%,yellow);
    /* padding: 50px; */
    margin: 100px;
    box-shadow: 10px 10px 15px green, 
    20px 20px 25px red ,
    -10px -10px 25px blue;
}
.third-box:hover{
    box-shadow: -10px -10px 15px green,
    -20px 20px 25px red ,
    10px 10px 25px blue;
}
.third-box:active{
    box-shadow: 10px 10px 15px yellow, 
    20px 20px 25px green ,
    -10px -10px 25px red;
}
.third-box h4{
    font-size: 35px;
    color: #226aa5;
    /* padding: 50px; */
}
